<!DOCTYPE html>
<html>
<head>
    <title>Case Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'case_list' %}">Case Management</a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                      {% if user.role == 'manager' %}
                          <a class="nav-link" href="{% url 'manager_dashboard' %}">{{ user.role|title }}</a>
                      {% elif user.role == 'employee' %}
                          <a class="nav-link" href="{% url 'employee_dashboard' %}">{{ user.role|title }}</a>
                      {% endif %}
                    </li>
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="nav-link btn btn-outline-danger btn-sm">Log out</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-primary btn-sm" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
