[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==5.3.1"
asgiref = "==3.8.1"
billiard = "==4.2.1"
celery = "==5.4.0"
certifi = "==2024.12.14"
cfgv = "==3.4.0"
click = "==8.1.8"
click-didyoumean = "==0.3.1"
click-plugins = "==1.1.1"
click-repl = "==0.3.0"
cron-descriptor = "==1.4.5"
distlib = "==0.3.9"
dj-database-url = "==2.3.0"
django = "==5.1"
django-celery-beat = "==2.7.0"
django-timezone-field = "==7.0"
filelock = "==3.16.1"
identify = "==2.6.4"
isort = "==5.13.2"
kombu = "==5.4.2"
mypy-extensions = "==1.0.0"
nodeenv = "==1.9.1"
packaging = "==24.2"
pathspec = "==0.12.1"
pipenv = "==2024.4.0"
platformdirs = "==4.3.6"
pre-commit = "==4.0.1"
prompt-toolkit = "==3.0.48"
psycopg2-binary = "==2.9.10"
python-crontab = "==3.2.0"
python-dateutil = "==2.9.0.post0"
python-decouple = "==3.8"
pyyaml = "==6.0.2"
redis = "==5.2.1"
six = "==1.17.0"
sqlparse = "==0.5.3"
typing-extensions = "==4.12.2"
tzdata = "==2024.2"
vine = "==5.1.0"
virtualenv = "==20.28.0"
wcwidth = "==0.2.13"
black = "*"
gunicorn = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.11"
